.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bgimage-c{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../ComponentsLogin/burger.jpg") no-repeat center center/cover;
    filter: blur(6px);
    z-index: -1;
}

.wrapper-c{
    z-index: 1;
    top: -50px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.6); 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    width: 20vw;
    height: 45vh;
    position: relative;
}

.login-box-c{
    position: absolute;
    height: 13%;
    top: 0px;
    right: -51px;
    transform: translateX(-50%);
    background-color: #efb11d;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}

.input-box-c{
    position: relative;
    margin: 40px 0;
    width: 300px;
    left: 40px;
    top: 50px;
}

.input-box-c input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.input-box-c label{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #efb11d;
    transition: 0.3s ease;
    pointer-events: none;
}

.input-box-c input:focus + label,
.input-box-c input:valid + label {
    top: -17px;
    font-size: 12px;
}

.signin-button-c{
    background-color: #efb11d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    top: 80%;
    left: 7.2vw;
    position: absolute;
    
}

.signup-text-c{
    margin-top: 20px;
    
    font-size: 15px;
    color: #efb11d;
    text-decoration: none;
    
}

.register-text{
    position: relative;
    top: 50px;
}
  