.body{
    margin:0;
}

.footer{
    width: 1920px;
    height: 60px;
    background-color: #d6536d;
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    position: absolute;
    bottom: 0px;
    align-items: center;
}

.copy-right{
    font-size: 23px;
    font-weight: bold;
    color: black;
    position: relative;
    left: 41%;
    top: 15%;
}